<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jens og karsten</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-800 text-white">
    <h1 class="text-center text-7xl">Jens. Og Karsten</h1>
    <p class="text-center my-4">Lavet af Thor Skipper</p>
    <div class="w-full flex justify-center m-10">
        <form action="/upload" method="post" enctype="multipart/form-data" class="flex flex-col">
            <h2 class="text-xl m-2">Post dine billeder</h2>
            <input type="file" name="imgname" value="filnavn" class="m-2">
            <input type="submit" value="upload" class="bg-white rounded-md text-black px-2 py-1 m-2">
        </form>
    </div>

    <div class="flex w-full flex-wrap items-end justify-center">
        {% for img in images %}
        <div class="flex flex-col m-10 justify-spread" style="width: 40rem">
            <img src={{img.path}}>
            <div class="flex flex-row justify-center">
                <p class="m-5">From {{img.name}}</p>
                <p class="m-5">At {{img.time}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>